# Ignore build files
build-*/**

# Ignore data
/bin/data/**

# Ignore .user files
*.qbs.user

# Debug files
*_debug

###########################
# ignore generated binaries
# but not the data folder
###########################

/bin/*
/bin/data/
/obj/*
/.vs/*

#########
# general
#########

*/[Bb]uild/
*/[Oo]bj/
*.o
*/[Dd]ebug*/
*/[Rr]elease*/
*.mode*
*.app/
*.pyc
.svn/
*.log
*.obj

########################
# IDE files which should
# be ignored
########################

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
*.pdb
*.ilk
*.aps
ipch/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.db-shm
*.db-wal
*.opendb

# Eclipse
.metadata
local.properties
.externalToolBuilders

##################
# operating system
##################

# Linux
*~
# KDE
.directory
.AppleDouble

# OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Image file caches
Thumbs.db
*.png
*.rc
*.db
# Folder config file
Desktop.ini

# Android
.csettings